body {
    margin: 0px;
}

.ryhidden {
    display: none;
}

.menu_container {
    margin-left: 390px;;
    margin-top: 10px;
}

.menu_link {
    text-transform: uppercase;
    font-weight: bold;
    color: #313131;
    padding-left: 30px;
}

.menu_link a {
    text-decoration: none;
}

.menu_link a:hover {
    color: #313131;
}

.active {
    text-decoration: underline;
    color: #ff1300;
}

.top_menu {
    position: absolute;
    top: 88px;
}

.how_to_enter {
    position: absolute;
    left: 737px;
}

.login_to_vote {
    position: absolute;
    left: 897px;
    top: 1px;
    cursor: pointer;
}

.sub_header {
    background-image: url('/images/sub_header_text.jpg');
    background-repeat: no-repeat;
    width: 960px;
    height: 29px;
    margin-top: 28px;
    margin-left: 188px;
}

.page_container {
    margin-left: 190px;
    width: 980px;
}

.submissions_container {
    width: 980px;
    margin-top: 5px;
}

.submission_container {
    cursor: pointer;
    width: 234px;
    float: left;
    margin-right: 10px;
    position: relative;
    margin-bottom: 30px;
}

.submission_thumbnail img {
    width: 234px;
}

.submission_overlay {
    position: absolute;
    top: 0px;
    z-index: 999999;
    padding: 5px;
    background-color: #ffffff;
    opacity: 0.4;
    width: 100%;
    filter: alpha(opacity=40);
}

.submission_vote_container {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 204px;
    padding-left: 5px;
    z-index: 999999;
    background-color: #000000;
    height: 30px;
    padding-top: 8px;
    opacity: 0.3;
    width: 100%;
    filter: alpha(opacity=30);
}

.submission_vote_container span {
    position: absolute;
    top: 5px;
    left: 24px;
}

.pagination_container {

}

.modal_container {
    position: absolute;
    z-index: 999999;
    left: 275px;
    top: 26px;
}

.modal_close_button_container {
    cursor: pointer;
    position: absolute;
    top: -22px;
    left: 775px;
}

.modal_background {
    width: 797px;
    height: 770px;
    background-image: url('/images/modal_background.png');
    background-repeat: no-repeat;
}

.modal_image_container {
    padding: 25px;
    width: 740px;
}

.modal_image_container img {
    width: 740px;
}

.modal_text_container {
    margin-left: 25px;
    font-family: arial,helvetica;
    width: 575px;
    float: left;
}

.modal_submission_title {
    font-size: 16px;
    font-weight: bold;
}

.modal_submission_artist {

}

.modal_submission_text {

}

.modal_vote_button {
    float: right;
    margin-right: 31px;
    position: relative;
    top: 13%;
    cursor: pointer;
}

.login_modal_container {
    position: absolute;
    z-index: 999999;
    width: 454px;
    height: 598px;
    background-image: url('/images/login_modal_background.png');
    background-repeat: no-repeat;
    left: 440px;
    top: 240px;
}

.login_modal_header {

}

.login_modal_content {
    font-family: Arial,helvetica;
    text-align: center;
    font-weight: normal;
    font-size: 10px;
    width: 300px;
    margin-left: 83px;
    margin-top: 10px;
}

.login_modal_optins {
    text-align: left;
    width: 340px; 
}

.login_modal_button {
    margin-top: 20px;
    cursor: pointer;
}

.fb_login_container {
    margin-top: 20px;
}

.footer_links_container {
    clear: both;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 25px;
}

.footer_links_container a {
    text-decoration: none;    
    color: #313131;
}

.footer_links_container a:hover {
    color: #313131;
    text-decoration: underline;
}
