* {
    margin: 0;
}

html,body {
    height: 100%;
}

body {
    -webkit-animation-name: weeee;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.ryhidden {
    display: none;
}

.header_container {
    text-align: center;
    z-index: 800000;
}

.menu_container {
    margin-top: 20px;
    text-align: center;
}

.menu_link {
    text-transform: uppercase;
    font-weight: bold;
    color: #313131;
    padding-left: 30px;
}

.menu_link a {
    text-decoration: none;
}

.menu_link a:hover {
    color: #313131;
}

.active {
    text-decoration: underline;
    color: #ff1300;
}

.top_menu {
    margin-left: auto;
    margin-right: auto;
    width: 665px;
    height: 35px;
    margin-top: -45px;
    z-index: 900000;
    position: relative;
}

.top_menu_container {
    margin-left: auto;
    margin-right: auto;
}

.how_to_enter {
    float: right;
}

.login_to_vote {
    cursor: pointer;
    float: right;
    margin-top: 1px;
}

.sub_header {
    margin-top: 28px;
}

.page_container {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

@-webkit-keyframes weeee{0%{-webkit-transform:translate(1px,.5px) rotate(0deg)}10%{-webkit-transform:translate(-1px,-2px) rotate(-0.5deg)}20%{-webkit-transform:translate(-3px,0px) rotate(0.5deg)}30%{-webkit-transform:translate(0px,2px) rotate(0deg)}40%{-webkit-transform:translate(1px,-1px) rotate(0.5deg)}50%{-webkit-transform:translate(-1px,2px) rotate(-0.5deg)}60%{-webkit-transform:translate(-3px,1px) rotate(0deg)}70%{-webkit-transform:translate(2px,1px) rotate(-0.5deg)}80%{-webkit-transform:translate(-1px,-1px) rotate(0.5deg)}90%{-webkit-transform:translate(2px,2px) rotate(0deg)}100%{-webkit-transform:translate(1px,-2px) rotate(-0.5deg)}}

.content_wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.submissions_container {
    width: 980px;
    margin-top: 5px;
}

.submission_container {
    cursor: pointer;
    width: 234px;
    float: left;
    margin-right: 10px;
    position: relative;
    margin-bottom: 30px;
    height: 314px;
}

.submission_thumbnail img {
    width: 234px;
}

.submission_overlay {
    padding: 5px;
    background-color: #000000;
    color: #ffffff;
    opacity: 0.4;
    width: 100%;
    filter: alpha(opacity=40);
}

.submission_vote_container {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 5px;
    background-color: #000000;
    height: 30px;
    padding-top: 4px;
    opacity: 0.3;
    width: 100%;
    filter: alpha(opacity=30);
}

.submission_vote_container span {
    position: relative;
    top: 2px;
}

.pagination_container {
    margin-left: 40%;
}

.modal_shadow {
    width: 100%;
    height: 1700px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999998;
    background-color: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    display: none;
}

.modal_container {
    position: absolute;
    z-index: 999999;
    left: 275px;
    top: 26px;
    background-color: #ffffff;
    border-radius: 20px;
}

.modal_close_button_container {
    cursor: pointer;
    position: absolute;
    top: -22px;
    left: 775px;
}

.modal_background {
    width: 797px;
    /*
    height: 770px;
    background-image: url('/images/modal_background.png');
    background-repeat: no-repeat;
    */
}

.modal_image_container {
    padding: 25px;
    width: 740px;
}

.modal_image_container img {
    width: 740px;
}

.modal_text_container {
    margin-left: 25px;
    font-family: arial,helvetica;
    width: 575px;
    float: left;
    margin-bottom: 25px;
}

.modal_submission_title {
    font-size: 16px;
    font-weight: bold;
}

.modal_submission_artist {

}

.modal_submission_text {

}

.modal_vote_button {
    float: right;
    margin-right: 31px;
    position: relative;
    top: 13%;
    cursor: pointer;
}

.login_modal_container {
    position: absolute;
    z-index: 999999;
    width: 454px;
    height: 598px;
    background-image: url('/images/login_modal_background.png');
    background-repeat: no-repeat;
    left: 440px;
    top: 240px;
}

.login_modal_header {

}

.login_modal_content {
    font-family: Arial,helvetica;
    text-align: center;
    font-weight: normal;
    font-size: 10px;
    width: 300px;
    margin-left: 83px;
    margin-top: 10px;
}

.login_modal_optins {
    text-align: left;
    width: 340px; 
}

.login_modal_button {
    margin-top: 20px;
    cursor: pointer;
}

.fb_login_container {
    margin-top: 20px;
}

.footer_links_container {
    clear: both;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 45px;
    padding: 10px;
    padding-left: 190px;
    padding-right: 160px;
    background-color: #ff1300;
    float: left;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 999999;
}

.footer_wrapper {
    position:relative;
    margin:0 auto;
    width: 980px;
}

.footer_links_container a {
    text-decoration: none;    
    color: #ffffff;
    padding-right: 30px;
}

.footer_links_container a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footer_links {

    
}

.footer_copyright {
    color: #ffffff;
    text-transform: none;
    font-weight: normal;
    text-align: left;
}
.navhelper {
    position: relative;
    top: 1px;
    left: 7px;
}

.pagenumber {
    background-image: url("/images/pagination_number_border.jpg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    padding: 1px;
    float: left;
    margin-left: 10px;
}

.pagenumber a {
    text-decoration: none;
    font-weight: bold;
    color: #7a7a7a;

}

.pagenumber a:hover {
    text-decoration: none;
}
.prevpage {
    float: left;
}

.nextpage {
    float: left;
    padding-left: 10px

}
